* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(purple-background.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.page {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.top-bar {
    height: 70px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    margin-top: 70px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-end;
}

.slash {
    display: none;
}

.title {
    order: -1;
}

.logo {
    order: -2;
}

.sim,
.empty {
    width: 51px;
    height: 30px;
}

form {
    align-self: flex-start;
}

.form-row {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 960px) {
.page {width: 60%;}


.sim,
.empty {
    width: 125px;
    height: 77px;
}

.top-bar {
    height: 150px;
}

#nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    margin-top: 150px;
}

.slash {
    display: unset;
}

.nav-list {
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    margin-right: 5px;
}

form {
    width: 250px;
    align-self: center;
}

input[type='email'],
input[type='text'],
input[type='password'] {
    width: 250px;
}

input[type='submit'] {
    width: 250px;
}


.video-container {
    align-self: center;
    width: 640px;
}
}